@model IEnumerable<ETicketWebClient.Models.TicketSeatViewModel>
@{ Layout = null; }
<style>
    .table, td, tr, th {
        text-align: center;
    }
</style>

<br />
<br />
<h2>Tickets on this order</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TicketId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeatNumber)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TicketId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeatNumber)
        </td>
      
    </tr>
}

</table>
